<% if logged_in? %>
  <div class="col-sm-3 col-md-2 sidebar", id="sidebarid">
    <ul class="nav nav-sidebar">
      <p id="demo"></p>
      <li class="sidebar_back"><%= link_to "Back", projects_path %></li>
      <li class="sidebar_current_iteration"><%= link_to "Current Iteration", currentiteration_project_path %></li>
      <li class="sidebar_backlog"><%= link_to "Backlog", backlog_project_path %></li>
      <li class="sidebar_icebox"><%= link_to "Icebox", icebox_project_path %></li>
    </ul>
  </div>
<% end %>



