// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h3 {
    font-size: 2em;
    letter-spacing: -2px;
    margin-bottom: 10px;
    text-align: center;
}

hr{
  max-width: 0px;
}

.nexttosidebar,#falert{
  padding-left: 200px;
}

td,tr,table{
  margin: 0px;
  padding: 0px;
}

#featuresearch{
  width: 500px;
  display: inline;
}
#tasknew{
  display: inline-flex;
}

#taskcreate{
  width: 200px;
  height: 30px; 
  //display: inline;
}

#fcreate{
  width: 500px;
  height: 32px; 
}

#newpro{
  display: inline-flex;
  margin: 0px;
  padding: 0px;
}
.showcat {
  display: flex ;
  //justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  top: -20px;
  z-index: 3;

}
.cards{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 1000px;
  height: auto;
  background-color: white;
  border: 1px solid gainsboro;
  //text-align: center;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.close{
  cursor: pointer;
  color: rgb(249, 2, 2);
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 0;
}

.close:hover {background: #bbb;}
.current2:hover {background: #bbb;}