<% provide(:title, "Home | ") %>
<div class="center jumbotron">
  <h1>Project Management Tool</h1>
  <h2>It's Simple, It's Hastlefree!</h2>
  <p>
      Manage your projects.
      Maintain their project by adding specifications,scheduling tasks, assigning the tasks to the team members etc.
      Forget all the hastle of keeping track of project and manage it properly.
      Let us manage your projects better.
  </p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
